<div class="panel panel-info">
<div class="panel-heading">
Approved Blogs</div>
<div class="panel-body">

<ul style="list-style:none">
<li ng-repeat="blogs in blogsApproved">
<a href="#/getBlog/{{blogs.id}}"><b>Blog Title</b>{{blogs.blogTitle}}</a><br>
<b>Posted On:</b>{{blogs.postedOn | date: 'dd:MM:yyyy'}}<br>


<img src="http://localhost:8084/Project2middleware/getimage?email={{blogs.postedBy.email}}" alt="No Profile pic" width="50px" height="50px">&nbsp;<b>Posted By:</b> {{blogs.postedBy.firstname}} &nbsp; {{blogs.postedBy.lastname}}

<br><br>
<hr>
</li>

</div></div>