<span style="color:red">{{error.errorMsg}}</span>




<div class="container">
		<div class="form">
			<form   ng-controller="UserCtrl">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 col-sm-offset-4 col-lg-4 col-lg-offset-4">
							<div class="box">

								<h2 style="color:white">Edit</h2>
								<div class="input-group">

									<input id="email" type="email" class="form-control" name="email"
										placeholder="Email" ng-model="user.email" required />
								</div>
								<div class="input-group">
									<br> <input id="password" type="password" class="form-control"
										name="password" placeholder="Password" ng-model="user.password" required />
								</div>
								<br>
								<div class="input-group">

									<input id="firstname" type="text" class="form-control"
										name="firstname" placeholder="FirstName" ng-model="user.firstname" required />
								</div>
								<br>

								<div class="input-group">

									<input id="lastname" type="text" class="form-control"
										name="lastname" placeholder="LastName" ng-model="user.lastname" required />
								</div>
								<br>
								
								
								<div class="input-group">

									<input id="phoneNo" type="text" class="form-control"
										name="phoneNo" placeholder="phoneNo" ng-model="user.phoneno" required />
								</div>

								<div class="input-group">

									<select id="role" type="text" class="form-control" name="role"
										placeholder="Role" ng-model="user.role" required >
										<option value="student">Student
                                        <option value="employee">Employee
                                        <option value="admin">Admin
                                    </select>
								</div>
								<button type="submit" class="btn btn-success" ng-click="updateuser(user)">Edit</button>
								
								
			</form>
		</div>
	</div>

